*{
    margin: 0;
    padding: 0;
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
   
    font-style: normal;
    box-sizing: border-box;
   

}

h2{
    color: #D17D98;
}
header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.main{
    width: 80%;
    margin: auto;
    background-color:EFDCAB;
padding: 20px;
}
section{
    border: 1px solid #f1eaea;
    padding: 10px;
}
.Portfolio{
    display: block;
    margin: 10px auto;
    height: 150px;
    border-radius: 50%;
}
a{
    text-decoration: none;
    color: rgb(28, 223, 37);
  
}

a:hover{
    text-decoration: underline;
}
.project{
    margin: 10px o;
}
.gallery{
display: block;
margin: 10px auto;
height: 210px;
width: 100%;
border-radius: 10px;
}
blockquote{
    display: inline;
}
i{
    font-size: 24px;
    color: wheat;
}
footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}
h5{
    display: inline;
}
li{
    list-style: none;
}
nav {
background-color: black;
}

li{
    display: inline;
}
ul li{
    margin: 0;
    padding: 10px;

}
ul li a:hover{
    text-decoration: none;
    color: white;
    background-color: rgb(21, 56, 131);
}